<div class="container">
  <div class="sticky-wrapper">
    <div class="header">
      <app-header
        [title]="'HEADER.TITLE' | translate"
        [subtitle]="'HEADER.SUBTITLE' | translate">
      </app-header>

      <app-language-switcher></app-language-switcher>

      <app-tabs
        [activeTab]="store.activeTab()"
        (tabChange)="setTab($event)">
      </app-tabs>
    </div>

    <app-search-field
      class="search"
      [searchTerm]="store.searchTerm()"
      [placeholder]="(store.activeTab() === 'movies' ? 'SEARCH.MOVIES' : 'SEARCH.SERIES') | translate"
      (searchTermChange)="onSearchChange($event)">
    </app-search-field>
  </div>

  <div class="results">
    <app-results-section
      [titleKey]="store.activeTab() === 'movies' ? 'RESULTS.MOVIES' : 'RESULTS.SERIES'"
      [resultCount]="store.results().length"
      [showResultCount]="store.showResultCount()"
      [showLoading]="store.showLoading()"
      [showError]="store.showError()"
      [errorMessage]="store.errorMessage()"
      [showResultsList]="store.showResultsList()"
      [showLoadingMore]="store.showLoadingMore()"
      [showNoMoreResults]="store.showNoMoreResults()"
      [showNoResults]="store.showNoResults()"
      [results]="store.results()"
      [activeTab]="store.activeTab()"
      (itemSelected)="openDetails($event)">
    </app-results-section>

    <div #loadMoreTrigger class="load-more-trigger"></div>
  </div>
</div>
