:host {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #111827;
}
