<div class="language-switcher">
  <div class="dropdown" (click)="toggleDropdown()">
    <div class="selected">
      <span class="selected-label">
        <img [src]="store.selected().flag" class="flag" />
        {{ store.selected().label }}
      </span>
      <span class="arrow">▼</span>
    </div>

    @if (isOpen) {
      <div class="menu">
        @for (lang of store.languages; track lang.code) {
          <div class="option" (click)="setLanguage(lang, $event)">
            <img [src]="lang.flag" class="flag" />
            {{ lang.label }}
          </div>
        }
      </div>
    }
  </div>
</div>
